parameters:
	level: 6
	ignoreErrors:
		- '#File ends with a trailing whitespace\.#'
		- '#Variable \$absDocRoot might not be defined.#'
		- '#Variable \$base_url might not be defined.#'
	paths:
		- . 
	bootstrapFiles:
		- config.php 
	scanFiles:
		- vendors/csrf-magic.php
	scanDirectories:
		- admin
		- adreset
		- api
		- asset
		- assets
		- audit
		- auditlog
		- autolog
		- branding
		- census
		- cgroup
		- communication
		- compliance
		- Compliance
		- configImportExport
		- Configuration
		- cron
		- csvdart
		- cube
		- cubeJS
		- custom
		- customer
		- dashboard
		- device
		- emails
		- EventCron
		- gateway
		- gdpr
		- healthz
		- home
		- homepage
		- include
		- insight
		- js
		- JSONSchema
		- layout
		- lib
		- lib_main
		- libraries
		- loginaudit
		- mfa
		- multiauth
		- mum
		- mum_config
		- nanohealauth
		- new_page
		- nhmysql
		- notification
		- plugin
		- profileJSONSchema
		- profiles
		- profileViewer
		- Provision
		- resolution
		- role
		- serverSetup
		- services
		- signupPage
		- site
		- smtp
		- softdist
		- softdist_config
		- software_distribution
		- softwareupdate
		- src
		- sso
		- Subscription
		- swd
		- ticketingwizard
		- userApproval
		- vendor
		- vendors
		- Visualization
		- watcher
		- weights
		- yaml
	excludePaths:
		- admin
		- adreset
		- api
		- asset
		- assets
		- audit
		- auditlog
		- autolog
		- branding
		- census
		- cgroup
		- communication
		- compliance
		- Compliance
		- configImportExport
		- Configuration
		- cron
		- csvdart
		- cube
		- cubeJS
		- custom
		- customer
		- dashboard
		- device
		- emails
		- EventCron
		- gateway
		- gdpr
		- healthz
		- home
		- homepage
		- include
		- insight
		- js
		- JSONSchema
		- layout
		- lib
		- lib_main
		- libraries
		- loginaudit
		- mfa
		- multiauth
		- mum
		- mum_config
		- nanohealauth
		- new_page
		- nhmysql
		- notification
		- plugin
		- profileJSONSchema
		- profiles
		- profileViewer
		- Provision
		- resolution
		- role
		- serverSetup
		- services
		- signupPage
		- site
		- smtp
		- softdist
		- softdist_config
		- software_distribution
		- softwareupdate
		# - src
		- sso
		- Subscription
		- swd
		- ticketingwizard
		- userApproval
		- vendor
		# - vendors
		- Visualization
		- watcher
		- weights
		- yaml